<div class="flex flex-col gap-10">
  <div class="text-3xl font-semibold">Recipes</div>

  <% if flash[:notice] %>
    <div class="text-green-700"><%= flash[:notice] %></div>
  <% else %>
    <div class="text-red-700"><%= flash[:error] %></div>
  <% end %>

  <table class="table-auto">
    <thead>
      <tr>
        <th>Name</th>
        <th>Meal</th>
        <th>Calories</th>
        <th>Protein</th>
        <th>Carbs</th>
        <th>Fat</th>  
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |r| %>
        <tr>
          <td><%= r.name %></td>
          <td><%= r.meal %></td>
          <td><%= r.calories %></td>
          <td><%= r.protein %></td>
          <td><%= r.carbs %></td>
          <td><%= r.fat %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>