<div class="flex flex-col gap-10 basis-full">
  <div class="flex flex-row justify-between">
    <div class="text-3xl font-semiibold"><%= @recipe.name %></div>
    <%= link_to "Edit Recipe", edit_recipe_path(@recipe.id), class: "py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-800 text-white" %>
  </div>

  <hr class="border-blue-800">

  <div class="grid grid-cols-6 gap-3">
    <div class="shadow-md rounded-lg space-y-3.5 pl-1.5 pb-2">
      <div>
        <div class="text-sm font-semibold">Meal</div>
        <div class="text-sm"><%= @recipe.meal %></div>
      </div>

      <div>
        <div class="text-sm font-semibold">Calories</div>
        <div class="text-sm"><%= @recipe.calories %></div>
      </div>

      <div>
        <div class="text-sm font-semibold">Protein</div>
        <div class="text-sm"><%= @recipe.protein %></div>
      </div>

      <div>
        <div class="text-sm font-semibold">Carbs</div>
        <div class="text-sm"><%= @recipe.carbs %></div>
      </div>

      <div>
        <div class="text-sm font-semibold">Fat</div>
        <div class="text-sm"><%= @recipe.fat %></div>
      </div>
    </div>
    <div class="shadow-md rounded-lg text-2xl font-semiibold col-span-5">
      <div class="text-2xl font-semiibold pb-5 pl-5">Ingredients</div>
      <div class="text-sm flex flex-col content-start flex-wrap h-52">
        <% @recipe.ingredients.each do |ingredient| %>
          <div class="pl-5 py-1 w-2/5"><%= ingredient.name %></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="shadow-md rounded-lg">
    <div class="text-2xl font-semiibold pb-5 pl-5">Instructions</div>
    <div class="text-sm pb-5 pl-5"><%= @recipe.instructions %></div>
  </div>
</div>
